* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: sans-serif;
  background-image:url("Background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav {
  display: flex;
  background-color: aliceblue;
  opacity: 0.7;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  
}

.logo {
  font-size: 1.8rem;
  color: rgb(5, 5, 116);
  padding-left: 20px;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.nav__link {
  position: fixed;
  width: 100%;
  top: 5rem;
  left: 18px;
  background-color: lightblue;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.nav__link a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  border: 30px black;
  padding: 5px 3px;
  border-radius: 10%;
}

.hide {
  display: none;
}
@media screen and (min-width: 600px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
  
}
ul{
  padding-top: 30%;
  padding-bottom: 30%;


}
.contain{
   padding: 5%; 
    background-color: blue;
    position: sticky;

}
p{
  text-align: justify;
 
  color: aliceblue;
  font-size: 20px;
  display: flex;

  
}
